<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Restaurant catalogue">
  <meta name="theme-color" content="#3D8361"/>
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="apple-touch-icon" href="/icons/apple-icon-180x180-seochecker-manifest-7314.png">
  <link rel="icon" href="favicon.png">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Wuling Prima Kebon Jeruk</title>
</head>
<body>
      <nav id="nav" class="nav">
        <div class="title"><img src="logo.png" alt="Logo"></div>
        <a href="#/hamburger" id="hamburger" aria-label="click to open nav"><i class="fa-solid fa-bars"></i></a>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="#/mobil-wuling">MOBIL WULING</a></li>
          <li><a href="#/promo">PROMO</a></li>
          <li><a href="#/about">ABOUT</a></li>
          <li><a href="contact" class="contact">CONTACT</a></li>
        </ul>
      </nav>
  <main id="mainContent" tabindex="0"></main>
  
  <footer></footer>
</body>
<script src="https://kit.fontawesome.com/083872a52b.js" crossorigin="anonymous"></script>
</html>
