<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Wuling Prima Kebon Jeruk">

  <link rel="icon" href="favicon.png">

  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Wuling Prima Kebon Jeruk</title>
</head>
<body>
      <nav id="nav" class="nav">
        <div class="logo"><img src="logo.png" alt="Logo"></div>
        <a href="#/hamburger" id="hamburger" aria-label="click to open nav"><i class="fa-solid fa-bars"></i></a>
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="#/mobil-wuling">MOBIL WULING</a></li>
          <li><a href="#/promo">PROMO</a></li>
          <li><a href="#/about">ABOUT</a></li>
          <li><a href="https://wa.me/6285156362622?text=Selamat%20Datang%20di%20Wuling%20Prima%20Kebun%20Jeruk%20Pelayanan%20dan%20Pemesanan%20Mobil%20Wuling%20se-JaBodetabek.%0ASaya%20dengan%20Wesley%20Niel.%20%0AMohon%20info%20%3A%0ANama%20%3A%0ADomisili%20ktp%20%3A%0APromo%20mobil%20yang%20ingin%20di%20tanyakan%20%3A%0A%0AApakah%20sudah%20punya%20kendaraan%20mobil%20Wuling%20sebelumnya%3F" class="contact" target="_blank">CONTACT</a></li>
        </ul>
      </nav>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <div class="footer-wrap">
      <div class="footer-logo">
        <img src="logo.png" alt="Wuling Logo">
      </div>
      <div class="alamat">
        <p>Wuling Prima Kebon Jeruk, Jl. Panjang No 46 Kedoya Kebon Jeruk - Jakarta Barat</p>
      </div>
      <div class="footer-contact-wrap">
        <a href="https://wa.me/6285156362622?text=Selamat%20Datang%20di%20Wuling%20Prima%20Kebun%20Jeruk%20Pelayanan%20dan%20Pemesanan%20Mobil%20Wuling%20se-JaBodetabek.%0ASaya%20dengan%20Wesley%20Niel.%20%0AMohon%20info%20%3A%0ANama%20%3A%0ADomisili%20ktp%20%3A%0APromo%20mobil%20yang%20ingin%20di%20tanyakan%20%3A%0A%0AApakah%20sudah%20punya%20kendaraan%20mobil%20Wuling%20sebelumnya%3F"class="no-telp" target="_blank"><i class="fa-solid fa-phone"></i>085156362622</a>
        <div class="social-media">
          <a href="https://wa.me/6285156362622?text=Selamat%20Datang%20di%20Wuling%20Prima%20Kebun%20Jeruk%20Pelayanan%20dan%20Pemesanan%20Mobil%20Wuling%20se-JaBodetabek.%0ASaya%20dengan%20Wesley%20Niel.%20%0AMohon%20info%20%3A%0ANama%20%3A%0ADomisili%20ktp%20%3A%0APromo%20mobil%20yang%20ingin%20di%20tanyakan%20%3A%0A%0AApakah%20sudah%20punya%20kendaraan%20mobil%20Wuling%20sebelumnya%3F" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100080313706073&mibextid=ZbWKwL" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
    <div class="copyright"><p>&copy;copyright Wuling Prima Kebon Jeruk</p></div>
</footer>
</body>
<script src="https://kit.fontawesome.com/083872a52b.js" crossorigin="anonymous"></script>
</html>

